body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(45, 44, 44);
}
h1{
    color:antiquewhite ;
}

.toolbar {
    margin-bottom: 10px;
    padding: 30px;
}

canvas {
    border: 2px solid #969393;
    cursor: crosshair;
    border-radius: 20px;
}


/* canvas {
    border: 2px solid #000;
    cursor: crosshair;
} */

.canvas-eraser {
    cursor: url('eraser-cursor.png'), auto; /* Optional custom eraser cursor */
}


.toolbar{
    background-color: rgb(23, 20, 20)
    
}

.shapeSelect{
   color: rebeccapurple;
}



.button-33 {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button-33 span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button-33 span:first-child {
    position: relative;
    z-index: 1;
  }
  
  .button-33:hover {
    box-shadow: 0 0 0 5px #0fbd3860;
    color: #ffffff;
  }
  
  .button-33:active {
    scale: 0.95;
  }
  
  .button-33:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
  }
  
  
  